PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2025-01-15 09:21:05.027738');
INSERT INTO django_migrations VALUES(2,'contenttypes','0002_remove_content_type_name','2025-01-15 09:21:05.036813');
INSERT INTO django_migrations VALUES(3,'auth','0001_initial','2025-01-15 09:21:05.051249');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "accounts_shopper" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "first_name" varchar(150) NOT NULL, "last_name" varchar(150) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "email" varchar(254) NOT NULL UNIQUE);
INSERT INTO accounts_shopper VALUES(1,'pbkdf2_sha256$720000$v34VusjfpSMYETcsivHP1M$1g4QSYkKb/HBZ8mvDODZhHghSoJSGRhE2IvfMDh8g7c=','2025-04-23 16:00:58.244537',1,'admin','','',1,1,'2025-01-15 10:44:16.888549','ysr1180@hotmail.com');
INSERT INTO accounts_shopper VALUES(2,'pbkdf2_sha256$720000$SvAxolOuvd6dwYKQ5xSWyN$YQOYFmmXgwB/QLOJtqRNSK3WRMuxPOH4eg0tJF3oc1E=','2025-02-14 08:39:33.094893',0,'ouassima','','',0,1,'2025-02-02 09:58:07.392472','ouass@hotmail.com');
INSERT INTO accounts_shopper VALUES(3,'pbkdf2_sha256$720000$YE7aRS3HdiPtuH8vEsRnPr$RxQ6BKLdNmaQRJxJczWNsiN4dkcQgG/p3dbxf7nJTwE=','2025-03-16 13:32:52.378215',0,'Salim','','',0,1,'2025-03-16 13:32:52.027604','salim@hotmail.com');
CREATE TABLE IF NOT EXISTS "accounts_shopper_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "shopper_id" bigint NOT NULL REFERENCES "accounts_shopper" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "accounts_shopper_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "shopper_id" bigint NOT NULL REFERENCES "accounts_shopper" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "accounts_shopper" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'1','Cheesecakes',1,'[{"added": {}}]',7,1,'2025-01-16 08:15:37.040079');
INSERT INTO django_admin_log VALUES(2,'2','g├óteaux au chocolat',1,'[{"added": {}}]',7,1,'2025-01-16 08:16:25.205118');
INSERT INTO django_admin_log VALUES(3,'3','Tartes aux fruits',1,'[{"added": {}}]',7,1,'2025-01-16 08:17:35.707289');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('fysf71cy5bchr91a8444zl9jx2148uum','.eJxVjMsOwiAQRf-FtSEFhpdL934DGWCQqoGktCvjv2uTLnR7zzn3xQJuaw3boCXMmZ2ZYKffLWJ6UNtBvmO7dZ56W5c58l3hBx382jM9L4f7d1Bx1G8thTbZe0fFKkAoRRoxKVG0tSmCMN6TcC5aky1ISIq0nLwuSgI6VM6w9we7Njaf:1tY166:IJ6j-BMZywr3ZUtz8kBQMpSu7eYGTy-yGYT8ARVjZlQ','2025-01-29 10:58:06.034464');
INSERT INTO django_session VALUES('aq53tz52cw8j6xxf5obpiy5l2jxe832c','e30:1tYi5S:V3yO9flktD3XbniXWx61guaZvRMHlcoJiYbjXBvX-74','2025-01-31 08:52:18.635475');
INSERT INTO django_session VALUES('cbmgpdo3cpt9kgjmmbmsazp5azc72en8','.eJxVjMsOwiAQRf-FtSEFhpdL934DGWCQqoGktCvjv2uTLnR7zzn3xQJuaw3boCXMmZ2ZYKffLWJ6UNtBvmO7dZ56W5c58l3hBx382jM9L4f7d1Bx1G8thTbZe0fFKkAoRRoxKVG0tSmCMN6TcC5aky1ISIq0nLwuSgI6VM6w9we7Njaf:1tYi7I:o2LezOa9q_cKeCUux_cIJHct37u09KoGsrELHufb4l4','2025-01-31 08:54:12.248266');
CREATE TABLE IF NOT EXISTS "shop_cart" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "created_date" datetime NOT NULL, "update_date" datetime NOT NULL, "user_id" bigint NOT NULL REFERENCES "accounts_shopper" ("id") DEFERRABLE INITIALLY DEFERRED, "pick_up_date" datetime NULL);
CREATE TABLE IF NOT EXISTS "shop_cartitem" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "quantity" integer unsigned NOT NULL CHECK ("quantity" >= 0), "cart_id" bigint NULL REFERENCES "shop_cart" ("id") DEFERRABLE INITIALLY DEFERRED, "product_id" bigint NOT NULL REFERENCES "shop_product" ("id") DEFERRABLE INITIALLY DEFERRED, "order_id" bigint NULL REFERENCES "shop_order" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO shop_cartitem VALUES(112,1,NULL,14,NULL);
INSERT INTO shop_cartitem VALUES(113,1,NULL,14,43);
INSERT INTO shop_cartitem VALUES(114,1,NULL,9,NULL);
CREATE TABLE IF NOT EXISTS "shop_order" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "order_date" datetime NOT NULL, "pick_up_date" datetime NULL, "total_price" decimal NULL, "cart_id" bigint NULL REFERENCES "shop_cart" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "accounts_shopper" ("id") DEFERRABLE INITIALLY DEFERRED, "is_paid" bool NOT NULL);
INSERT INTO shop_order VALUES(43,'2025-03-11 10:59:04.959343','2025-05-19 00:00:00',22,NULL,1,1);
INSERT INTO shop_order VALUES(44,'2025-03-11 11:18:01.796295','2025-03-24 00:00:00',117,NULL,1,1);
INSERT INTO shop_order VALUES(45,'2025-03-11 11:44:35.160035','2025-05-05 00:00:00',48,NULL,1,1);
CREATE TABLE IF NOT EXISTS "shop_contactmessage" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(60) NOT NULL, "email" varchar(254) NOT NULL, "subject" varchar(255) NOT NULL, "message" text NOT NULL, "date_sent" datetime NOT NULL);
INSERT INTO shop_contactmessage VALUES(1,'Maouan Yassir','ysr1180@hotmail.com','commande de gateau','jnmjnmjnmlk','2025-02-20 12:21:21.614778');
CREATE TABLE IF NOT EXISTS "shop_product" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "slug" varchar(60) NOT NULL, "image" varchar(100) NOT NULL, "price" decimal NOT NULL, "created_date" datetime NOT NULL, "modified_date" datetime NOT NULL, "categories_id" bigint NOT NULL REFERENCES "shop_category" ("id") DEFERRABLE INITIALLY DEFERRED, "description" text NOT NULL, "description_nl" text NOT NULL, "name" varchar(60) NOT NULL, "name_nl" varchar(60) NOT NULL);
CREATE TABLE IF NOT EXISTS "shop_category" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "slug" varchar(120) NOT NULL, "image" varchar(100) NOT NULL, "created_date" datetime NOT NULL, "modified_date" datetime NOT NULL, "name_nl" varchar(60) NOT NULL, "name" varchar(60) NOT NULL, "description" text NOT NULL, "description_nl" text NOT NULL);
INSERT INTO shop_category VALUES(4,'tartes-aux-fruits','images/tartes_fruits_ZTZiuq8.jpeg','2025-03-10 10:51:31.682621','2025-03-10 11:21:05.813979','Vruchtentaarten','Tartes aux fruits','Un d├®licieux assortiment de tartes aux fruits frais, avec des saveurs vari├®es et des couleurs ├®clatantes.','Een heerlijke assortiment van verse vruchtentaarten, met gevarieerde smaken en stralende kleuren.');
INSERT INTO shop_category VALUES(5,'cheesecakes','images/cheesacake_ideCq8c.jpeg','2025-03-10 11:23:15.166472','2025-03-10 11:23:15.166472','Cheesecakes','Cheesecakes','Un cheesecake cr├®meux et fondant, fait avec les meilleurs ingr├®dients pour une saveur inoubliable.','Een romige en smeu├»ge cheesecake, gemaakt met de beste ingredi├½nten voor een onvergetelijke smaak.');
INSERT INTO shop_category VALUES(6,'gateaux-au-chocolat','images/gateau_chocolat_fkyOltG.jpeg','2025-03-10 11:25:53.318242','2025-03-10 11:25:53.318242','Chocolade taarten','G├óteaux au chocolat','D├®couvrez nos g├óteaux au chocolat, riches et fondants, parfaits pour les amateurs de chocolat.','Ontdek onze chocolade taarten, rijk en smeu├»g, perfect voor chocoladeliefhebbers.');
INSERT INTO sqlite_sequence VALUES('django_migrations',32);
INSERT INTO sqlite_sequence VALUES('django_content_type',13);
INSERT INTO sqlite_sequence VALUES('auth_permission',52);
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE UNIQUE INDEX "accounts_shopper_groups_shopper_id_group_id_81387419_uniq" ON "accounts_shopper_groups" ("shopper_id", "group_id");
CREATE INDEX "accounts_shopper_groups_shopper_id_b0fc95fd" ON "accounts_shopper_groups" ("shopper_id");
CREATE INDEX "accounts_shopper_groups_group_id_e3f091d4" ON "accounts_shopper_groups" ("group_id");
CREATE UNIQUE INDEX "accounts_shopper_user_permissions_shopper_id_permission_id_53b66cc3_uniq" ON "accounts_shopper_user_permissions" ("shopper_id", "permission_id");
CREATE INDEX "accounts_shopper_user_permissions_shopper_id_1f93d8af" ON "accounts_shopper_user_permissions" ("shopper_id");
CREATE INDEX "accounts_shopper_user_permissions_permission_id_0d51f125" ON "accounts_shopper_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "shop_cart_user_id_27925ac6" ON "shop_cart" ("user_id");
CREATE INDEX "shop_cartitem_cart_id_6bf1447e" ON "shop_cartitem" ("cart_id");
CREATE INDEX "shop_cartitem_product_id_09e4b7dd" ON "shop_cartitem" ("product_id");
CREATE INDEX "shop_cartitem_order_id_09ee1b9d" ON "shop_cartitem" ("order_id");
CREATE INDEX "shop_order_cart_id_5b16e4f1" ON "shop_order" ("cart_id");
CREATE INDEX "shop_order_user_id_00aba627" ON "shop_order" ("user_id");
CREATE INDEX "shop_product_slug_30bd2d5d" ON "shop_product" ("slug");
CREATE INDEX "shop_product_categories_id_e0b18cd8" ON "shop_product" ("categories_id");
CREATE INDEX "shop_category_slug_4508178e" ON "shop_category" ("slug");
COMMIT;
