{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="signin-container">
    <div class="signin-box">
        <h2>{% trans "Connexion" %}</h2>

        <form method="POST" action="{% url 'signin' %}">
            {% csrf_token %}
            <!-- Username field -->
            <div class="form-group">
                <label for="email">{% trans "Adresse e-mail" %}</label>
                <input type="email" name="email" id="email" required>
            </div>

            <!-- Password field -->
            <div class="form-group">
                <label for="password">{% trans "Mot de passe" %}</label>
                <input type="password" name="password" id="password" required>
            </div>

            <!-- Submit button -->
            <div class="form-group">
                <button type="submit" class="btn-submit">{% trans "Se connecter" %}</button>
            </div>
        </form>

        <div class="signin-footer">
            <p>{% trans "Pas encore de compte ? " %}<a href="{% url 'signup' %}">{% trans "Inscrivez-vous ici" %}</a></p>
        </div>
    </div>
</div>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}


{% block styles %}
<style>
    .signin-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f9f9f9;
    }

    .signin-box {
        background-color: white;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 400px;
    }

    h2 {
        text-align: center;
        margin-bottom: 30px;
        color: #333;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        color: #333;
        font-weight: 500;
    }

    .form-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .btn-submit {
        background-color: #ff9800;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 500;
    }

    .signin-footer {
        text-align: center;
        margin-top: 20px;
    }

    .signin-footer a {
        color: #ff9800;
        text-decoration: none;
    }

    ul.messages {
    list-style: none;
    padding: 0;
}

ul.messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

ul.messages li.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

ul.messages li.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

</style>
{% endblock %}