{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<section class="about" style="padding: 50px 0; background-color: #f9f9f9; text-align: center;">
    <h2 class="section-title">{% trans "À propos de Ouassima" %}</h2>
    <div class="about-content" style="max-width: 800px; margin: 0 auto;">

        <p style="font-size: 1.2rem; color: #666; line-height: 1.6;">
            {% trans "Bonjour ! Je suis Ouassima, passionnée par la pâtisserie depuis mon plus jeune âge. L'amour pour les gâteaux et les douceurs m'a conduite à créer mon propre atelier de pâtisserie. Chaque gâteau que je prépare est une œuvre d'amour, conçue avec soin et dévouement." %}
        </p>
        <p style="font-size: 1.2rem; color: #666; line-height: 1.6;">
            {% trans "Après avoir passé des années à perfectionner mes recettes et à explorer les subtilités de la pâtisserie, j'ai décidé de partager ma passion avec vous. Mon objectif est de vous offrir des créations délicieuses et élégantes, idéales pour toutes les occasions spéciales." %}
        </p>
        <p style="font-size: 1.2rem; color: #666; line-height: 1.6;">
            {% trans "Chaque gâteau que vous trouverez ici est fabriqué avec les meilleurs ingrédients et un soupçon de magie. J'espère que mes créations ajouteront une touche de douceur à vos moments précieux. Merci de me permettre de faire partie de vos célébrations !" %}
        </p>

    </div>
</section>

{% endblock %}
