{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <h2>{% trans "Mon Panier" %}</h2>
    {% if cart_items %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans "Produit" %}</th>
                    <th>{% trans "Quantité" %}</th>
                    <th>{% trans "Prix Unitaire" %}</th>
                    <th>{% trans "Prix Total" %}</th>
                    <th>{% trans "Modifier Quantité" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>
                        {% get_current_language as LANGUAGE %}
                        {% if LANGUAGE == 'fr' %}
                            {{ item.product.name }}
                        {% else %}
                            {{ item.product.name_nl }}
                        {% endif %}
                    </td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price }}€</td>
                    <td>{{ item.total_price_item|floatformat:2 }}€</td>
                    <td>
                        <div class="quantity-buttons">
                            <a href="{% url 'remove_from_cart_view' slug=item.product.slug %}" class="btn btn-quantity">-</a>
                            <a href="{% url 'add_to_cart_view' slug=item.product.slug %}" class="btn btn-quantity">+</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3"><strong>{% trans "Montant Total" %}</strong></td>
                    <td colspan="2"><strong>{{ total_price|floatformat:2 }}€</strong></td>
                </tr>
            </tbody>
        </table>

        <form method="post" action="{% url 'check_quota' %}">
            {% csrf_token %}
            <label for="pick_up_date">{% trans "Choisissez la date de retrait :" %}</label>
            <input type="date" name="pick_up_date" id="pick_up_date" required>
            <p>
                <button type="submit" class="orange-button">{% trans "Paiement" %}</button>
            </p>
        </form>


        {% if messages %}
            <div class="alert-container">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        <p>{{ message }}</p>
                    </div>

                    {% if message.tags == 'success' %}
                        <script>
                            setTimeout(function() {
                                window.location.href = "{% url 'home' %}";
                            }, 3000);
                        </script>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <a href="{% url 'clear_cart_view' %}" class="orange-button">{% trans "Vider mon panier" %}</a>

    {% else %}
        <p>{% trans "Il n'y a aucun article dans votre panier." %}</p>
    {% endif %}
</div>
{% endblock %}

{% block styles %}
<style>
    .container {
        margin: 20px;
        font-family: Arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .quantity-buttons {
        display: flex;
        gap: 10px;
    }

    .btn-quantity {
        display: inline-block;
        padding: 5px 10px;
        background-color: #ff9800;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1.2rem;
        transition: background-color 0.3s;
    }

    .btn-quantity:hover {
        background-color: #e68900;
    }

    .orange-button {
        background-color: #ff9800;
        color: white;
        border: none;
        padding: 12px 20px;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-decoration: none;
        display: inline-block;
        margin-top: 10px;
    }

    .orange-button:hover {
        background-color: #e68900;
        transform: scale(1.05);
    }

    .orange-button:active {
        transform: scale(0.95);
    }

    .alert-container {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
    }

    .alert {
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        color: black;
        font-weight: bold;
        opacity: 0;
        transform: translateY(-20px);
        animation: fadeIn 0.5s forwards, fadeOut 0.5s 10s forwards;
    }

    .alert-success { background-color: #4caf50; }
    .alert-error, .alert-danger { background-color: #f44336; }
    .alert-warning { background-color: #ff9800; }
    .alert-info { background-color: #2196f3; }

    @keyframes fadeIn {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeOut {
        to {
            opacity: 0;
            transform: translateY(-20px);
        }
    }
</style>
{% endblock %}
